.comments {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.top-scroller {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #cccc00;
    padding: 10px;
    cursor: pointer;
}

.bottom-scroller {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #cccc00;
    padding: 10px;
    cursor: pointer;
}